:root {
    --dark-font: 'Pattaya', sans-serif;
    --light-font: 'Roboto', sans-serif;
    --montserrat: 'Montserrat', sans-serif;
    --dark-color: #a06cd5;
    --light-color: #c19ee0;
    --super-dark-color: #6247aa;
    --off-white: #e5e5e5;
    --white: #ffffff;
    --card-color: rgba(255, 255, 255, 0.479);
}

* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
}

.container {
    width: 100vw;
    max-width: 100%;
    margin-top: 90vh;
}

.container > div:nth-child(odd) {
    background-color: var(--light-color);
}
.container > div:nth-child(even) {
    background-color: var(--dark-color);
}

#freelancing , #education , 
#skills , #links , #interests , 
#certifications , #projects , #contact-me {
    height: 100vh;
    width: 100%;
    /* position: relative; */
    /* background-color: black; */
}

#about-me {
    height: 90vh;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: -10;
    display: flex;
    flex-wrap: wrap-reverse;
    background-color: var(--dark-color)!important;
}

.nav-bar {
    height: 10vh;
    width: 100%;
    background-color: black!important;
    position: sticky;
    top: 0;
    /* z-index: -10; */
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.nav-bar div {
    height: 8vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    /* border: 2px solid white; */
    /* cursor: pointer; */
    font-family: var(--dark-font);
}

.nav-bar div > a {
    color: white;
    text-decoration: none;
    user-select: none;
    transition: all 0.2s;
}

.nav-bar div > a:hover {
    border-bottom: 4px solid white;
    font-size: 2.5rem;
    text-shadow: 2px 2px 4px grey;
}

.nav-bar-selected {
    border-bottom: 4px solid white;
    font-size: 2.5rem;
    text-shadow: 2px 2px 4px grey;
}


.myPic , .about-content {
    /* border: 2px solid; */
    /* background-color: green; */
    height: 100%;
}

.about-content {
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.myPic {
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 2px solid; */
}

.image-myPic {
    background-image: url("Images/myPic.png");
    height: 25vw;
    width: 25vw;
    border-radius: 50%;
    /* box-shadow: 10px 10px 10px black; */
    background-color: #212529;
    background-size: cover;
}

.window {
    height: 80%;
    width: 80%;
    border-radius: 1rem;
    box-shadow: 4px 4px 6px black;
}

.window-nav {
    border-radius: 1rem 1rem 0rem 0rem;
    height: 6%;
    width: 100%;
    background-color: var(--off-white);
    display: flex;
    align-items: center;
}

.window-nav div {
    height: 1.1rem;
    width: 1.1rem;
    border-radius: 50%;
    margin-left: 1rem;
    cursor: pointer;
}

.close-btn {
    background-color: #f73939;
}

.minimize-btn {
    background-color: #f9dc5c;
}

.fullscreen-btn {
    background-color: #70e000;
}

.window-content {
    background-color: var(--white);
    width: 100%;
    height: 82%;
}

.typer-section {
    width: 100%;
    height: 100%;
    font-family: var(--light-font);
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}


.typer {
    margin-left: 15px;
    color: var(--super-dark-color);
    font-size: 3rem;
}

.typer::after {
    content: "";
    width: 1px;
    border-right: 3px solid var(--super-dark-color);
    animation: blink 1s infinite ease;
}

@keyframes blink {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

span.name {
    font-family: var(--montserrat);
    font-size: 5rem;
    font-weight: 400;
    color: var(--super-dark-color);
    /* text-shadow: 2px 2px 4px grey; */
}

.resume-section{
    height: 12%;
    width: 100%;
    background-color: var(--off-white);
    border-radius: 0rem 0rem 1rem 1rem;
    border-top: 1px solid var(--off-white);
}

.resume {
    width: 14rem;
    height: 100%;
    border-radius: 0rem 0rem 0rem 1rem;
    font-family: var(--montserrat);
    color: var(--super-dark-color);
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--white);
    box-shadow: 1px 1px 3px black;
    user-select: none;
}

.resume span {
    color: var(--super-dark-color);
}

.resume:hover {
    cursor: pointer;
    box-shadow: 1px 1px 5px black;
}

.resume:active {
    background-color: var(--off-white);
}

.wrapper {
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    z-index: 10;
    display: none;
    /* display: flex;
    justify-content: center;
    align-items: center; */
    background-color: rgba(0, 0, 0, 0.89);
}

.wrapper-nav {
    width: 100%;
    height: 4%;
    /* border: 2px solid; */
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-top: 1rem;
    position: fixed;
    top: 0;
}

.wrapper-close {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-right: 1rem;
    /* border: 2px solid; */
}

.wrapper-close span {
    color: white;
    font-size: 2rem;
    user-select: none;
    cursor: pointer;
}

.wrapper-resume-div {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrapper-resume-div iframe {
    z-index: 10;
}

.empty {
    width: 100%;
    height: 10vh;
}

.education-content {
    width: 100%;
    height: 90vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    font-family: var(--montserrat);
}

.education-content .card {
    height: 60%;
    width: 30%;
    background-color: var(--card-color);
    border-radius: 1rem;
    cursor: pointer;
    box-shadow: 4px 4px 6px var(--dark-color);
    user-select: none;
    transition: all 0.2s ease;
}

.education-content .card:hover {
    box-shadow: 8px 8px 6px var(--dark-color);
}

.card-name-section {
    /* border: 2px solid; */
    border-radius: 1rem 1rem 0rem 0rem;
    height: 20%;
    width: 100%;
    display: flex;
}

.card-name , .card-date {
    /* border: 2px solid; */
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    font-size: 1rem;
}

.card-name {
    width: 80%;
    font-weight: bold;
}

.card-date {
    width: 20%;
    color: var(--super-dark-color);
    font-weight: bold;
}

.card-course-branch {
    height: 15%;
    width: 80%;
    /* border: 2px solid; */
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.8rem;
    padding: 1rem;
}

.card-marks {
    /* border: 2px solid; */
    height: 30%;
    border-radius: 0rem 0rem 1rem 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-percentage , .card-gpa {
    /* border: 2px solid ; */
    height: 100%;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
}

.card-percentage {
    border-radius: 0rem 0rem 0rem 1rem ;
}

.card-gpa {
    border-radius: 0rem 0rem 1rem 0rem ;
}

.clg-img-section {
    height: 35%;
    width: 100%;
    /* border: 2px solid; */
    background-image: url("Images/nietLogo.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    border-radius: 1rem 1rem 0rem 0rem;
}

.school-img-section {
    height: 33%;
    margin-top: 2%;
    width: 100%;
    /* border: 2px solid; */
    background-image: url("Images/kvs-logo.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    border-radius: 1rem 1rem 0rem 0rem;
}